---
layout: default
---
<main id="content" role="main" class="main flex flex-wrap items-start">
<article class="commerce-blog-wrapper col-12 md-col-8 px2 pt2 pb3 md-px4 md-pt6 md-pb7">
{% if page.image %}
<amp-img src="{{ page.image }}" srcset="{{ page.image }} 750w,{{ page.image }} 1280w" width="750" height="427" layout="responsive" alt="{{ post.title }}" noloading="">
<div placeholder="" class="commerce-loader"></div>      </amp-img>
{% else %}
{% endif %}
      <div class="mt3">
        <h1 class="h3">{{ page.title }}</h1>
        by {% if site.author %}{{ site.author }}{% else %}{{ site.title }}{% endif %} at <time datetime="{{ page.date | date: '%B %d, %Y' }}" class="inline mb2">{{ page.date | date: '%B %d, %Y' }}</time> in tags <label class="inline mb2"> {% for tag in page.tags %} {% capture tag_name %} {{ tag }} {% endcapture %}<a href="/tags/{{ tag }}">{{ tag }}</a>{% endfor %}</label> 
        <p class="h7 mb5 mt4"> {% if page.description %} {{ page.description }} {% endif %} </p>
      </div>
  {{ content }}
  {% if page.previous.url %}
 <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" class="ampstart-btn ampstart-btn-secondary inline-block h7 pt3 mt4 md-mb4">Prev</a>
  {% endif %}
  {% if page.next.url %}
  <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" class="ampstart-btn ampstart-btn-secondary inline-block h7 pt3 mt4 md-mb4 right">Next</a>
  {% endif %}
    </article>
      {% include aside.html %}
 <!-- <section class="commerce-related-products col-8 px2 md-mt5 md-px4 ">
    <div class="col-12 mt3 md-mt4">
      <h2 class="h5 md-h4">You May Also Like</h2>
       Related Post Based on Tags 
      {% assign maxRelated = 4 %}
      {% assign minCommonTags =  2 %}
      {% assign maxRelatedCounter = 0 %}
      {% for post in site.posts %}

    {% assign sameTagCount = 0 %}
    {% assign commonTags = '' %}
      {% for tag in post.tags %}
      {% if post.url != page.url %}
      {% if page.tags contains tag %}
      {% assign sameTagCount = sameTagCount | plus: 1 %}
      {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
      {% assign commonTags = commonTags | append: tagmarkup %}
      {% endif %}
      {% endif %}
      {% endfor %}
      {% if sameTagCount >= minCommonTags %}
      <div>
        <h5><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}{{ commonTags }}</a></h5>
      </div>
      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
      {% if maxRelatedCounter >= maxRelated %}
      {% break %}
      {% endif %}
      {% endif %}
      {% endfor %} 
-->
    </div>
  </section>
</main>
