---
layout: default
---
<main id="content" role="main" class="main flex flex-wrap items-start">
<article class="commerce-blog-wrapper col-12 md-col-8 px2 pt2 pb3 md-px4 md-pt6 md-pb7">
      <!-- <amp-img src="../img/e-commerce/blog-narrow-01.png" srcset="../img/e-commerce/blog-narrow-01.png 750w,../img/e-commerce/blog-wide-01.png 1280w" width="750" height="427" layout="responsive" alt="No sleep &#39;til Brooklyn" noloading="">
<div placeholder="" class="commerce-loader"></div>      </amp-img> Gambar Artikel Sebelum Masuk ke Artikel-->
      <div class="mt3">
        <h1 class="h3">{{ post.title }}</h1>
        <time datetime="{{ page.date | date: '%B %d, %Y' }}" class="block mb2">{{ page.date | date: '%B %d, %Y' }}</time>
        <p class="mb5">Ringkasan Artikel.</p>
      </div>
  {{ content }}
  {% if page.previous.url %}
 <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" class="ampstart-btn ampstart-btn-secondary inline-block h7 pt3 mt4 md-mb4">Previous</a>
  {% endif %}
  {% if page.next.url %}
  <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" class="ampstart-btn ampstart-btn-secondary inline-block h7 pt3 mt4 md-mb4">Next</a>
  {% endif %}
    </article>
      {% include aside.html %}
</main>
